@font-face {
    font-family: Almarai;
    src: url(fonts/Almarai-Bold.ttf);
    src: url(fonts/Almarai-Light.ttf);
    src: url(fonts/Almarai-Regular.ttf);

}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border:none;
	outline: none;
}

body{
	background-image: url(backgrounds-white-18.jpg); ;
	width: 100%;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Almarai', sans-serif;

}
h2, h1, h3{
	font-family:  'Almarai', sans-serif;
}

header{
	display: flex;
	justify-content: space-between;
	padding: 2rem;
	font-size: 24px;
	font-weight: bold;
	direction: rtl;
	background-image: url(header-background.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

nav ul {
	display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    direction: rtl;
    list-style: none;
    align-items: baseline;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3)

}

nav ul a{
	text-decoration: none;
	font-size: 18px;
	color: black
}
a:hover{
	color: blue;
	padding-bottom: 1rem;
	border-bottom: 3px solid blue;
}
a:click{
	color: blue;
	padding-bottom: 1rem;
	border-bottom: 3px solid blue;
}
nav ul a svg{
	width: 22px;
	margin: 0 5px;
}
.by_text{
	display: flex;
	justify-content: center;
	position: relative;
	width: 500px;
	align-items: center;
}
.by_text button{
	padding: .8rem;
    height: 2.7rem;
    color: white;
    background: #4abeed;
    font-family: Almarai;
    display: flex;
    font-size: 18px;
    border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius:50px 0 0 50px;
    cursor: pointer;
}
.by_text svg{
	width: 20px;
	/*position: absolute;
	left: 2rem;
	top: 1.8rem;*/
	margin-left: 4px;
}
.search_box{
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-top: 3rem;
}
.search_box input{
	padding: .8rem;
    margin: 1rem;
    margin-left: 2px;
    width: 95%;
    direction: rtl;
    display: flex;
    justify-content: center;
    border-radius: 0 50px 50px 0;
    -webkit-border-radius:0 50px 50px 0;
    -moz-border-radius:0 50px 50px 0;
    border:1px solid #a0a0a0;
}
input::placeholder {
	font-size: 15px;
	font-family: Almarai;
}
input::-webkit-input-placeholder{
	font-size: 15px;
	font-family: Almarai;
	}

input:-ms-input-placeholder{
font-size: 15px;
	font-family: Almarai;
}


input:focus{
	border-color: #3b8aff9e;
}

table {
  border-collapse: collapse;
 width: 95%;
margin:auto;
direction: rtl;
margin-bottom: 2rem;
}
table .st_name{
text-align: start;
padding-right: 8px;
}
table, th, td {
  border: 1px solid #0000001a;
}

th{
	background: #4abeed;
	color: white;
	padding: 1rem 0;
}

tr{
	border-radius: 5px;
}
tr:hover{
	background:#3b8aff9e;
	color: white;
    cursor: pointer;
}
td{
	text-align: center;
	padding: 10px;
	font-size: 17px;
}

tr td:nth-child(2){
	text-align: start;
}

h2{
	text-align: center;
	margin:10px;
}

.edit_student{
	margin-right: auto;
	display: flex;
}
.selext_all{
	margin-left: 3rem;
	margin-right: auto;
}

.delate_all, .selext_all {
	display: flex;
	align-items: center;
}
.selext_all input{
	width: 25px;
	height: 25px;
	margin-left: 6px;
}
.delate_all svg{
width: 16px;
margin-left:6px;
fill: white;
color: white;
}
.delate_all{
	background:red;
	padding: 10px 12px;
	color: white;
	border-radius: 4px;
	margin-left: 2rem;
}

.select_culam{
	display: flex;
	justify-content: flex-end;
	margin-right: 2.2rem;
	margin-bottom: 2rem;
	align-items: center;
}
.table_navigaion{
	display: flex;
}
tbody{
	background: white;
}
footer{
	background-image: url(header-background.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 4rem;
    width: 100%;
}

/*************************************************/
.pagination{
	direction: rtl;
}
.pagination a {
  color: black;
  float: left;
  padding: 12px 18px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


/*mobile screens layout*/
@media only screen and (max-width: 600px) {
  .table_contener{
	overflow-x: auto;
	margin: 0 1rem;
}
.sys_name{
	display: none;
}
nav{
	position: sticky;
    top: 0;
    z-index: 100;
    background: white;
}

nav ul a{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: medium;
}
nav ul a svg{
	margin-bottom: 4px;

}
.search_box{
	display: block;
	width: inherit;
	margin-top: 0;
}
.by_text{
	width: inherit;
}
.select_culam{
	flex-direction: column;
}

.edit_student {
	margin-bottom: 1rem;
}
}